.App {
  text-align: center;
}

.titleHeader {
  font-family: "Source Code Pro", cursive;
}

.full-height {
  height: 100vh;
}

.empty-color {
  background-color: #1b1f29;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.img-home-page {
  padding: 0.25rem;
  background-color: #454b4e;
  border: 1px solid #454b4e;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.yellow-font {
  color: #b9cbb0;
}

.navbar-colors {
  background-color: #454b4e;
  color: #b9cbb0;
}
