.App {
  text-align: center;
  background-color: black;
  color: white;
}

.titleHeader {
  font-family: "Source Code Pro", cursive;
}

.full-height {
  height: 100vh;
}

.empty-color {
  background-color: #192d3d;
}
